body {
	background-image: url('tech-bytes.jpg');
	background-size: cover;
	background-repeat: none;
}

h1 {
	font-family:'Russo One', sans-serif;
	font-size: 64px;
	margin-left: 25px;
	color: #4e4e55;
}

button {
	margin-left: 25px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 6px;
	font-family: 'Russo One', sans-serif;
	font-size: 28px;
	color: #4e4e55;
	text-decoration: none;
	cursor: pointer;
	background-color: #ddd;
	border: 3px solid #555;
	height: 60px;
	width: 200px;
}

button:hover{
	opacity: .75;
}

a{
	color: #000;
}

#excuses{
	
	top: 30px;
	left: 25px;
	font-family: 'Courier New', monospace;
	font-size: 76px;
	color: #000000;
}

#license{
	position: absolute center;
	bottom: 25px;
	left: 25px;
	font-family: 'Russo One', sans-serif;
	font-size: 42px;
	color:#4e4e55;
}
